@font-face {
    font-family: "SFUI-Bold";
    src: url("https://github.com/sammyflek/TodoApp/blob/main/fonts/SFUIText-Bold.ttf");
  }

  @font-face {
    font-family: "SFUI-medium";
    src: url("https://github.com/sammyflek/TodoApp/blob/main/fonts/SFUIText-Medium.ttf");
  }

  @font-face {
    font-family: "SFUI-regular";
    src: url("https://github.com/sammyflek/TodoApp/blob/main/fonts/SFUIText-Regular.ttf");
  }

  @font-face {
    font-family: "SFUI-Semi-bold";
    src: url("https://github.com/sammyflek/TodoApp/blob/main/fonts/SFUIText-Semibold.ttf");
  }

body {
    /*background-image: url("./Images/Background.svg") no-repeat center center/cover;*/
    background-color: rgba(162, 210, 255, 0.15);
    margin-top: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
}

#container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title{
  font-family: "SFUI-Bold", sans-serif;
  color: #0F0E26;
  font-size: 48px;
  width: 500px;
  text-align: center;
}

#blue-title {
  color: #359BFA;
}

#input-taskname {
  width: 100%;
}

#task-input {
  border:none;
  font-family: "SFUI-Medium", sans-serif;
  font-size: 16px;
  color: #0e0e0e;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
}

#task-input:focus {
  outline: none;
  border: none; 
}

#task-input::placeholder {
  color: #878889;
  opacity: 50%;
  font-size: 16px;
  font-family: "SFUI-Medium", sans-serif;
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 398px;
  background-color: #fff;
  gap: 8px;
}

#add-task-button {
  padding: 8px 16px;
  font-size: 10px;
  font-family: "SFUI-Semi-bold", sans-serif;
  background-color: #359BFA;
  border: none;
  border-radius: 4px;
  color: #fff;
  opacity: 30%;
  width: 76px;
}

#add-task-button.active{
  opacity: 1;
  cursor: pointer;
}

#task-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

#task-description {
  width: 398px;
  height: 50px;
  padding: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 398px;
  background-color: #fff;
  resize: none;
  font-family: "SFUI-regular", sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

#task-description::placeholder {
  color: #878889;
  opacity: 50%;
  font-size: 16px;
  font-family: "SFUI-Medium", sans-serif;
  
}

#task-description:focus {
  outline: none;
  border: none; 
}

#todo-area-heading {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#todo-header {
  font-size: 24px;
  font-family: "SFUI-Bold", sans-serif;
  margin: 0;
  padding: 0;

}
#todo-subheader {
  font-size: 16px;
  font-family: "SFUI-regular", sans-serif;
  color: rgba(165, 166, 167, 100);
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

#todo-header,
#todo-subheader {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.check-circle {
  width: 16px;
  height: 16px;
  border: 1px solid #000;  
  border-radius: 50%;          
  cursor: pointer;           
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.check-circle.checked {
  background-color: #359BFA;  
  border-color: #359BFA;      
}

.task-name {
  list-style-type: none;
  font-family: "SFUI-regular", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.task-check-name-description {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

#task-container.active {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 621px;
  background-color: #fff;
  border: 0.7px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;

}

.task-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.2);
  align-items: center;
}

#todo-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.delete-task {
  padding: 8px 16px;
  font-size: 10px;
  font-family: "SFUI-Semi-bold", sans-serif;
  background-color: #FA3535;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 90px;
  height: 30px;
}

.task-input-description {
  font-family: "SFUI-regular", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  padding: 0;
  margin: 0;
  opacity: 50%;
}

.task-name-and-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  column-gap: 0;
}

.task-check-name-description {
  display: flex;
  align-items: flex-start;

}

#button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.clear-button {
  background-color: #EFEFEF;
  border: none;
  width: 76px;
  padding: 8px 16px;  font-size: 10px;
  font-family: "SFUI-Semi-bold", sans-serif;
  border-radius: 4px;
}

